@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: "Sora", sans-serif;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
}
#nav{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
}
#nav-left{
    height: 10vh;
    width: 25%;
    display: flex;
    align-items: center;
    padding-left: 90px;
}
#nav-left img{
    width: 50%;
    height: auto;
}
#nav-center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 200px;
    /* background-color: brown; */
    gap: 30px;
}
#nav-center a{
    font-size: 15px;
    font-weight: 800;
    text-decoration: none;
    color: #000000;
}
#nav-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 0;
    margin-left: 200px;
}

#nav-right button{
    padding: 12px 20px;
    border-radius: 3px;
    border: none;
    background-color: transparent;
    border: 2px solid #000000;
    color: #000000;
    font-weight: 600;
    font-size: 12px;
    transition: 0.5 ease-in;
    cursor: pointer;
}
#nav-right button:hover{
    background-color: #000000;
    color : #fff;
}
#hero{
    height: 90vh;
    background: url(./Assests/image1.png) no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
    padding: 0px 8%;
}
#hero-content{
    max-width: 600px;
}
#hero-content h1{
    font-size: 45px;
    font-weight: 400;
    line-height: 65px;
}
#hero-content h1 span{
    font-weight: 800;
}
#hero-content p{
    font-size: 16px;
    margin: 40px 0px;
    line-height: 22px;
}
#home-content-2{
    position: absolute;
    bottom: 40px;
    width: 400px;
    /* background-color: red; */
}
#home-content-2 a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 60px;
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 3px;
    font-size: 25px;
    text-decoration: none;
    color: #000000;
    margin-right: 30px;
    transition: 0.3s ;
}
#home-content-2 a:hover{
    color: #fff;
    background-color: #000000;
}
#section-2{
    height: 5vh;
    display: flex;
    justify-content: center;
    /* background-color: red; */
    padding: 5% 0px;
}
#section-2 h2{
    font-size: 40px;
    font-weight: 400;
}
#section-2 h2 span{
    font-weight: 800;
}
#social-media{
    height: 50vh;
    display: flex;
    align-items: center;
}
#sc-content{
    display: flex;
    width: 87%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background-color: red; */
    margin-left: 7.5%;
}


#sc-content a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    flex-shrink: none;
    border: 2px solid #000000;
    font-size: 60px;
    color: #000000;
    text-decoration: none !important;
    transition: 0.3s;
    background-color: transparent;
}
#sc-content a:hover{
    color: #fff;
    background-color: #000000;
}
#sc-content a span{
    font-size: 12px;
    font-weight: 800;
}
.experience-section {
    width: 100%;
    background-color: #000000;
    padding: 20px;
    text-align: center;
}
.experience-section h2{
    color: #fff;
    margin: 40px 0px;
    font-size: 40px;
    font-weight: 400;
}
.experience-section h2 span{
    font-weight: 800;
}

.experience-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-card {
    margin-top: 40px;
    margin-left: 23px;
    width: 87%;
    border: 2px solid #fff;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    padding: 30px;
    color: #fff;
    transition: 0.3s;
}
.experience-card:hover{
    background-color: rgba(217, 217, 217, 0.15);
}

.company-logo {
    margin-right: 20px;
    height: 100px;
    width: 100px;
    font-size: 40px;
    text-decoration: none;
    color: #fff;
}

.experience-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.job-title {
    font-weight: bold;
    font-size: 20px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.duration {
    font-weight: normal;
    padding-right: 70px;
    font-size: 17px;
}

.role-description {
    margin-top: 10px;
    text-align: left;
    line-height: 25px;
}


.about-me-section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.about-me-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px; 
}

.image-container {
    flex: 1;
    margin-right: 20px;
}

.image-container img {
    max-width: 100%;
    height: 100%;
}

.text-container {
    flex: 1;
}

.text-container h2 {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 400;
}
.text-container h2 span{
    font-weight: 800;
}

.text-container p {
    margin-bottom: 10%;
}

.my-testimonials-section {
    padding: 20px;
    text-align: center;
}

.my-testimonials-section h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 400;
}
.my-testimonials-section h2  span{
    font-weight: 800;
}
#testimonial-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    background-color: #fff;
    height: 50vh;
    width: 25vw;
    border-radius: 15px;
    border: 2px solid #000000;
    transition: background-color 0.3s, border-color 0.3s;
}
.testimonial-card:hover{
    color: #fff;
    background-color: #000000;
    border-color: #fff;
}
.testimonial-image {
    margin-bottom: 10px;
}

.testimonial-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
}

.comment {
    margin: 10px 0;
}

.divider {
    width: 60%;
    margin: 20px 0;
    border: 0;
    border-top: 2px solid #000000;
    transition: 0.3;
}
.testimonial-card:hover .divider {
    border-top: 2px solid #fff;
}
.name {
    margin: 0;
    font-weight: bold;
}

.profession {
    margin: 10px 0px;
    color: #777;
    transition: 0.3s;
}
.testimonial-card:hover .profession{
    color: #fff;
}
.contact-section{
    position: relative;
    width: 100%;
    height: 80vh;
    padding: 2rem;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    width: 100%;
    max-width: 83%;
    height: 500px;
    border-radius: 10px;
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.contact-form{
    position: relative;
}
.form{
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}
.input-container{
    position: relative;
    margin: 1rem 0;
}
.input{
    width: 100%;
    outline: none;
    border: 2px solid #000000;
    background: none;
    padding: 1.2rem 1.2rem;
    color: #000000;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 3px;
    transition: 0.3s;
}
textarea.input{
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    resize: none;
    overflow-y: auto;
}

.input-container label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding-inline-start: 0 0.4rem;
    color: #71717A;
    font-size: 0.9rem;
    font-weight: 500;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

.input-container.textarea label{
    top: 1rem;
    transform: translateY(0);
}
.btn{
    padding: 0.9rem 1.7rem;
    background-color: transparent;
    color: #000f;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 0.95rem;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    color: #fff;
    background-color: #000;
}
.form i{
    border-radius: 5px;
    border: 2px solid #000;
    font-size: 21px;
    text-align: right;
    padding: 11px 13px;
    margin-left: 30px;
    float: right;
    transition: 0.3s;
    cursor: pointer;
}
.form i:hover{
    color: #fff;
    background-color: #000;
}
.contact-info{
    padding: 2.3rem 5rem;
    position: relative;
    margin-top: 11%;
}
.contact-info h3{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.contact-info h3 span{
    font-weight: 400;
}
.contact-info p{
    margin-bottom: 20px;
    max-width: 90%;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: #000000; /* Change this to desired background color */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
  }
.text h3{
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}
.text h3 span{
    font-weight: 900;
}
.copyright {
    text-align: right;
    color: #fff; 
  }
.copyright h4 {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
}
